body {
  color: $ink;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

.intro-text {
  font-size: 2.5rem;
  margin-top: 4rem;
}

b {
  color: darken($tcc-primary, 2.5);
  font-weight: 700;
}